Repository camacho/ts-node-template: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, eslint --cache --fix, format-package --write

.lintstagedrc.json:

{
  "*.ts": "tsc --noEmit",
  "*.{js,ts}": "eslint --cache --fix",
  "!(*package).{js,ts,json,md}": ["prettier --write --ignore-unknown"],
  "package.json": "format-package --write"
}

chore(repo): upgraded deps and looked at moving to bun
  .DS_Store
  .npmrc
  .nvmrc
  package-lock.json
  package.json
  src/config.ts
  src/logger.ts
  tsconfig.json
  yarn.lock
Due: tsc --noEmit, eslint --cache --fix, format-package --write

updates tech stack and adds custom linting and compiling
  .DS_Store
  .eslintrc.js
  .gitignore
  .husky/commit-msg
  .husky/post-checkout
  .husky/post-commit
  .husky/pre-commit
  .husky/pre-push
  .lintstagedrc.json
  .nvmrc
  .prettierrc
  .tool-versions
  commitlint.config.mjs
  eslint.config.mjs
  global.d.ts
  jest.config.js
  package-lock.json
  package.json
  pnpm-lock.yaml
  src/config.ts
  src/index.test.ts
  src/index.ts
  src/logger.ts
  test/example.test.ts
  tsconfig.build.json
  tsconfig.eslint.json
  tsconfig.json
  yarn.lock
Due: tsc --noEmit, eslint --cache --fix, format-package --write

chore(repo): upgraded deps and looked at moving to bun
  .lintstagedrc.json
  .prettierrc
  global.d.ts
  package.json
  pnpm-lock.yaml
  src/config.ts
  src/index.ts
  src/logger.ts
  tsconfig.build.json
  tsconfig.json
Due: tsc --noEmit, eslint --cache --fix, format-package --write

test: add task collection behavior specs
  test/task-collection.behavior.test.ts
Due: tsc --noEmit, eslint --cache --fix

test: rename task runner contract specs
  test/task-collection.behavior.test.ts
  test/task-runner.contract.test.ts
Due: tsc --noEmit, eslint --cache --fix

chore: update project tooling and dependencies
  eslint.config.mjs
  global.d.ts
  package.json
  pnpm-lock.yaml
  vitest.config.js
Due: tsc --noEmit, eslint --cache --fix, format-package --write

feat: add task runner primitives
  src/Task.ts
  src/TaskCollection.ts
  src/diagrams/runner-queue-drain-flow.mmd
  src/diagrams/runner-queue-drain-flow.svg
  src/diagrams/runner-queue-drain-sequence.mmd
  src/diagrams/runner-queue-drain-sequence.svg
  src/diagrams/runner-queue-drain.mmd
  src/index.ts
Due: tsc --noEmit, eslint --cache --fix

refactor: move runtime utilities under utils
  src/config.ts
  src/index.test.ts
  src/logger.ts
  src/utils/config.test.ts
  src/utils/config.ts
  src/utils/logger.test.ts
  src/utils/logger.ts
Due: tsc --noEmit, eslint --cache --fix

test: complete task runner contract matrix
  docs/task-runner-test-matrix.md
  test/task-runner.contract.test.ts
  test/task.contract.test.ts
Due: tsc --noEmit, eslint --cache --fix

test: harden task contract assertions
  test/task-runner.contract.test.ts
  test/task.contract.test.ts
Due: tsc --noEmit, eslint --cache --fix

refactor: simplify logger factory
  src/utils/logger.ts
Due: tsc --noEmit, eslint --cache --fix

test: simplify task runner contracts
  docs/task-runner-test-matrix.md
  package.json
  pnpm-lock.yaml
  src/Task.ts
  src/TaskCollection.ts
  src/contracts.ts
  test/example.test.ts
  test/task-runner.contract.test.ts
  test/task.contract.test.ts
  vitest.config.js
Due: tsc --noEmit, eslint --cache --fix, format-package --write

chore: update project validation tooling
  .lintstagedrc.json
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: format-package --write

refactor: move task runner to class implementation
  src/contracts.ts
  src/implementations/classes/Task.ts
  src/implementations/classes/TaskCollection.ts
  src/implementations/classes/index.ts
  src/implementations/classes/test/implementations.ts
  src/implementations/classes/test/task-runner.contract.test.ts
  src/implementations/classes/test/task.contract.test.ts
  src/implementations/classes/types.ts
  src/index.ts
  src/types.ts
  src/utils/config.test.ts
  src/utils/normalize-task.ts
  test/task-runner.contract.test.ts
  vitest.config.js
Due: tsc --noEmit, eslint --cache --fix

docs: update task runner contract matrix
  docs/task-runner-test-matrix.md
Due: none
